body {
  margin: 0;
  height: 100%;
  width: 1920px;
}
html {
  height: 100%;
  width: 1920px;
}

.intro {
  width: 1151px;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-family: "Gilroy-Bold ", "Gilroy-Bold  Placeholder", sans-serif;
  color: #000000;
  font-size: 70px;
  letter-spacing: 0em;
  line-height: 1.4;
  text-align: center;
  position: absolute;
  top: 343px;
  right: 398px;
  left: 371px;
}
.search {
  width: 848px;
  height: 46px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: #333333;
  font-size: 28px;
  letter-spacing: 0em;
  line-height: 1.4;
  position: absolute;
  top: 588px;
  right: 535px;
  left: 537px;
}
.connect2 {
  width: 275px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #133009;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 16px;
  position: absolute;
  top: 704px;
  right: 1033px;
  left: 612px;
}

.getintouch {
  box-sizing: border-box;
  width: 295px;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 16px;
  border: 2px solid #000000;
  position: absolute;
  top: 702px;
  right: 634px;
  left: 991px;
}
.connect2 p {
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 500;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: var(--pure_white, #ffffff);
  font-size: 25px;
  letter-spacing: 0em;
  line-height: 1.2;
  position: absolute;
}

.getintouch p {
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: var(--dark_green, #133009);
  font-size: 25px;
  letter-spacing: 0em;
  line-height: 1.2;
  position: absolute;
}

.fake {
  width: 1711px;
  height: 699px;
  display: block;
  overflow: hidden;
  z-index: 1;
  border-radius: 16px;
  position: absolute;
  top: 894px;
  right: 110px;
  left: 100px;
  background: repeating-linear-gradient(
    45deg,
    /* Adjusted angle to 45 degrees */ rgba(180, 180, 180, 0.8) 0px,
    rgba(180, 180, 180, 0.8) 2px,
    rgba(255, 255, 255, 0.2) 2px,
    rgba(255, 255, 255, 0.2) 4px
  );
}
.goal {
  position: absolute;
  top: 1770px;
  right: 465px;
  left: 465px;
  width: 990px;
  height: 71px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-family: "Gilroy-Bold ", "Gilroy-Bold  Placeholder", sans-serif;
  color: #333333;
  font-size: 44px;
  letter-spacing: 0em;
  line-height: 1.4;
}


