body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.outer{
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  overflow: hidden;
}


.intro {
  width: 60%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-family: "Gilroy-Bold ", "Gilroy-Bold  Placeholder", sans-serif;
  color: #000000;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.4;
  text-align: center;
}
.search {
  width: 80%;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: #333333;
  font-size: 150%;
  letter-spacing: 0em;
  line-height: 1.4;
  text-align: center;
}
.connect2 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #133009;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 16px;
}
.buttons{
  display: flex;
  gap: 4rem;
  flex-direction: row;
}
.getintouch {
  box-sizing: border-box;
  width: 10rem;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 16px;
  border: 2px solid #000000;
}
.connect2 p {
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 500;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: var(--pure_white, #ffffff);
  font-size: 1.2rem;
  letter-spacing: 0em;
  line-height: 1.2;
  position: absolute;
}

.getintouch p {
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: var(--dark_green, #133009);
  font-size: 1.2rem;
  letter-spacing: 0em;
  line-height: 1.2;
  position: absolute;
}

.fake {
  width: 80%;
  height: 30rem;
  display: block;
  overflow: hidden;
  z-index: 1;
  border-radius: 16px;
  background: repeating-linear-gradient(
    45deg,
    /* Adjusted angle to 45 degrees */ rgba(180, 180, 180, 0.8) 0px,
    rgba(180, 180, 180, 0.8) 2px,
    rgba(255, 255, 255, 0.2) 2px,
    rgba(255, 255, 255, 0.2) 4px
  );
}
.goal {
  width: max-content;
  height: 71px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-family: "Gilroy-Bold ", "Gilroy-Bold  Placeholder", sans-serif;
  color: #333333;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.4;
}


@media screen and (max-width: 768px) {
  .intro {
    width: 80%;
    font-size: 1rem;
  }
  .outer{
    gap: 3rem;
  }
  .search {
    font-size: .8rem;
  }
  .getintouch p {
    font-size: 1em;
  }
  .connect2 p {
    font-size: 1em;
  }
  .connect2{
    width: 8rem;
    height:4rem;
  }
  .getintouch{
    width: 8rem;
    height:4rem;
  }
  .fake{
    height: 20rem;
  }
  .goal {
    font-size: 1rem;
  }
  
}