p{
    margin: 0;
}
.stackMain {
  position: absolute;
  top: 2129px;
  right: 107px;
  left: 93px;
  width: 1720px;
  height: 1984px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
}
.stack2 {
  width: 1729px;
  height: 598px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
}
.stack1 {
    position: relative;
  width: 1710px;
  height: 643px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
}

.stack3 {
  width: 931px;
  height: 813px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
}
.content1 {
    position: relative;
  width: 777px;
  height: 674px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 35;
  border-radius: 0px 0px 0px 0px;
}
.frame1 {
  width: 948px;
  height: 514px;
  display: block;
  overflow: hidden;
  z-index: 1;
  background-image: url(https://framerusercontent.com/images/Hz10wPumP7asJDMKpainSfJYDD4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

.p11 {
  position: absolute;
  top: 43px;
  left: 29px;
  right: 34px;
  width: 714px;
  height: 65px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #333333;
  font-size: 49px;
  letter-spacing: 0em;
  line-height: 1.4;
}
.p12 {
    position: absolute;
  top: 254px;
  left: 32px;
  width: 714px;
  height: 164px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: #333333;
  font-size: 38px;
  letter-spacing: 0em;
  line-height: 1.4;
}

.button1 {
    position: absolute;
  top: 426px;
  left: 365px;
  right: 1002px;
  width: 343px;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #133009;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 8px;
}
.button1 p {
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: var(--pure_white, #ffffff);
  font-size: 33px;
  letter-spacing: 0em;
  line-height: 1.2;
  position: absolute;
}

.frame2 {
  width: 907px;
  height: 524px;
  display: block;
  overflow: hidden;
  z-index: 1;
  background-image: url(https://framerusercontent.com/images/yGdRgIRi7BYcbd8nrAoz0hCxg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}
.connect2 {
  width: 793px;
  height: 514px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 35;
  border-radius: 0px 0px 0px 0px;
}
.button2 {
    position: absolute;
  top: 409px;
  left: 422px;
  right: 28px;
  width: 343px;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #133009;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 8px;
}
.button2 p {
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: var(--pure_white, #ffffff);
  font-size: 33px;
  letter-spacing: 0em;
  line-height: 1.2;
  position: absolute;
}
.p21 {
  width: 788px;
  height: 65px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #333333;
  font-size: 50px;
  letter-spacing: 0em;
  line-height: 1.4;
}
.p22 {
  width: 714px;
  height: 164px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: #333333;
  font-size: 38px;
  letter-spacing: 0em;
  line-height: 1.4;
}

.frame3 {
  width: 948px;
  height: 514px;
  display: block;
  overflow: hidden;
  z-index: 1;
  background-image: url(https://framerusercontent.com/images/04utPHx7x9jkxYfEVolpRiD2Z8.jpg?scale-down-to=4096);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}
.content3 {
  width: 1251px;
  height: 594px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 35;
  border-radius: 0px 0px 0px 0px;
}
.p31 {
  width: 766px;
  height: 186px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-weight: 600;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #333333;
  font-size: 50px;
  letter-spacing: 0em;
  line-height: 1.4;
}
.p32 {
  width: 649px;
  height: 342px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: #333333;
  font-size: 38px;
  letter-spacing: 0em;
  line-height: 1.4;
}
