p {
  margin: 0;
}

.goal {
  width: 100%;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-family: "Gilroy-Bold ", "Gilroy-Bold  Placeholder", sans-serif;
  color: #333333;
  font-size: 250%;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.4;
}
.stackMain {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 5rem;
  padding: 2rem;
  background-color: #fffaf3;
  border-radius: 0px 0px 0px 0px;
}
.stack2 {
  position: relative;
  width: 90%;
  height: max-content;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
}
.stack1 {
  position: relative;
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 3rem;
  border-radius: 0px 0px 0px 0px;
}

.stack3 {
  position: relative;
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
}
.content1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 3rem;
  border-radius: 0px 0px 0px 0px;
}
.frame1 {
  width: 45rem;
  height: 22rem;
  display: block;
  overflow: hidden;
  z-index: 1;
  background-image: url(https://framerusercontent.com/images/Hz10wPumP7asJDMKpainSfJYDD4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
}

.p11 {
  width: 100%;
  height: max-content;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #333333;
  font-size: 250%;
  line-height: 1.4;
}
.p12 {
  width: 100%;
  height: max-content;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 1;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: #333333;
  font-size: 150%;
  letter-spacing: 0em;
  line-height: 1.4;
}

.button1 {
  width: 35%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #133009;
  color: var(--pure_white, #ffffff);
  overflow: hidden;
  z-index: 1;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 1rem;
  border: 0;
  border-color: #133009;
  border: solid .2rem #133009;
  transition: 0.5s;
}
.button1:hover {
  background-color: var(--pure_white, #ffffff);
  color: #133009;
  color: #133009;
  transition: 0.5s;
}
.btn {
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 100;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  font-size: 150%;
  letter-spacing: 0em;
  line-height: 1.2;
  position: absolute;
}

.frame2 {
  width: 45rem;
  height: 22rem;
  display: block;
  overflow: hidden;
  z-index: 1;
  background-image: url(https://framerusercontent.com/images/yGdRgIRi7BYcbd8nrAoz0hCxg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
}

.frame3 {
  width: 45rem;
  height: 22rem;
  display: block;
  overflow: hidden;
  z-index: 1;
  background-image: url(https://framerusercontent.com/images/04utPHx7x9jkxYfEVolpRiD2Z8.jpg?scale-down-to=4096);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
}
.flex {
  display: none;
}

@media screen and (max-width: 800px) {
  .flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .frame1 {
    width: 80%;
    height: 15rem;
  }
  .frame2 {
    width: 80%;
    height: 15rem;
  }
  .frame3 {
    width: 80%;
    height: 15rem;
  }
  .content1 {
    position: relative;
    top: 1rem;
    left: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  .p11 {
    width: 90%;
    font-size: 1.2rem;
  }
  .p12 {
    width: 90%;
    font-size: 1rem;
  }
  .button1 {
    width: 30%;
    height: 3rem;
    gap: 10;
  }
  .btn {
    font-size: 1rem;
  }
  .stack1 {
    display: none;
  }
  .stack2 {
    display: none;
  }
  .stack3 {
    display: none;
  }
  .goal{
    font-size: 150%;
    font-weight: 800;
    height: max-content;
  }
}
